* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 3rem;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  color: #000;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  padding-block: 18.5px;
}
.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}
ol {
  height: 336px;
}
